{{ if .Site.Data.homepage.pricing.enable }}
<section id="tarieven" class="section section--border-bottom">
  <div class="container">
    <h2 class="rad-animation-group rad-fade-down">
      {{ .Site.Data.homepage.pricing.title }}
    </h2>
    <p class="section-intro rad-animation-group rad-fade-down">
      {{ .Site.Data.homepage.pricing.description }}
    </p>
    <div class="row row--padded rad-animation-group rad-fade-down">
      {{ range .Site.Data.homepage.pricing.pricingTable }}
      <div class="col-12 col-md-6 pricing-card mb-5">
        <div class="pricing-box">
          <h3>{{ .title }}</h3>
          {{ if .price }}
          <div class="pricing-amount">
            <span class="price">{{ .price }}</span>
          </div>
          {{ end }}
          <ul class="pricing-features">
            {{ range .pricingDetails }}
            <li>
              <i class="icon-check"></i>
              {{ .item }}
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
